.select-position {
  width: 120px;
}

.teamshow-collapse {
  width: 60%;
}

.seacrh-box {
  width: 200px;
}

.teamshow-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.teamshow-list {
  max-height: 280px;
  overflow-y: scroll;
}

.icon-close {
  cursor: pointer;
}
