header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  h3 {
    font-size: 20px;
    margin-left: 20px;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.tabs {
  margin: 20px 0;
}

.select-time {
  width: 130px;
}
