.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 54px;
  margin: 10px 0;
  padding: 0 24px;
  background-color: #f5f5f5;
}

.wrapper-left {
  display: flex;
  gap: 10px;
}
